<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ecozonas</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.ecozonas.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ecozonas</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1Ijoib3NjYXJjbXgiLCJhIjoiY2w5dzZsOXk2MHhkdTN2bnphc2lndmNmZyJ9.2AYl5RU58_E0G2XpOfYjlQ</string>
	<key>NSCameraUsageDescription</key>
	<string>Se necesita acceso a la cámara para completar la información del mapeo.</string>
  <key>NSPhotoLibraryUsageDescription</key>
	<string>Se necesita acceso a la cámara para completar la información del mapeo.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Se necesita acceso a la ubicación mientras la aplicación está en uso para seleccionar la ubicación del mapeo.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Se necesita acceso a la ubicación mientras la aplicación está en uso para seleccionar la ubicación del mapeo.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>beta-reports-active</key>
	<true/>
</dict>
</plist>
